@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,300;0,400;1,100&family=Klee+One:wght@400;600&display=swap"); /* Media queries aliases and breakpoints */
:root {
  --primary-color: #f3f5fc;
  --secondary-color: #0A3871;
  --background-color: #000000;
  --text-color: #495057;
  --text-color-bold: #343a40;
  --white-color: #fff;
  --font-family-Barlow: "Barlow", sans-serif;
  --font-family-Klee: "Klee One", cursive;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* border: 1px solid red; */
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: var(--font-family-Barlow);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  color: var(--text-color-bold);
}

img {
  max-width: 100%;
}

.container {
  margin-right: 1rem;
  margin-left: 1rem;
}

.invisible {
  display: none;
}

.button {
  border: 1px solid var(--secondary-color);
  border-radius: 0.35rem;
  padding: 1rem 1.5rem;
  width: 48.5%;
  font-size: 1.2rem;
  cursor: pointer;
  transition: all 0.6s ease-in-out;
}
.button:focus {
  outline: none;
}

.button__primary {
  background-color: var(--secondary-color);
  color: var(--white-color);
}
.button__primary:hover {
  background-color: var(--primary-color);
  color: var(--background-color);
}

.button__secondary {
  background-color: var(--background-color);
  color: var(--primary-color);
}
.button__secondary:hover {
  background-color: var(--primary-color);
  color: var(--background-color);
}

.header {
  color: var(--primary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5rem;
  width: 100%;
}
.header .header__img {
  margin-right: 0.125rem;
}

.main__container {
  position: absolute;
  top: 4em;
  left: 6em;
  width: 60%;
}
.main__container .form {
  height: calc(100vh - 8em);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}
.main__container .form .form__input {
  background-color: var(--background-color);
  border: none;
  border-radius: 0.25rem;
  color: var(--primary-color);
  display: block;
  font-size: 1.2rem;
  max-width: 100%;
  resize: none;
  font-family: var(--font-family-Klee);
  padding: 0.5rem 1rem;
  width: 100%;
  /* height: 12rem; */
}
.main__container .form .form__input::placeholder {
  color: var(--white-color);
  opacity: 0.5;
}
.main__container .form .form__input:focus {
  outline: none;
}
.main__container .form .form__input:focus-visible {
  outline: 2px solid var(--white-color);
}
.main__container .form .form__input:hover {
  outline: 2px solid var(--white-color);
}
.main__container .form .form__actions {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.main__container .form .form__actions .form__warning {
  display: block;
  margin-bottom: 0.5rem;
  width: 100%;
}
.main__container .form .form__actions .form__warning::before {
  content: url(../../images/warning.svg);
  margin-right: 0.25rem;
  vertical-align: middle;
}

.aside__container {
  background-color: var(--white-color);
  border-radius: 2rem;
  padding: 2rem;
  position: absolute;
  top: 2rem;
  right: 2rem;
  bottom: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25%;
}
.aside__container .container {
  margin-right: 0;
}
.aside__container .aside__ciphered {
  height: 100%;
  width: 100%;
}
.aside__container .aside__ciphered .ciphered__text {
  margin-bottom: 1rem;
  font-size: 14pt;
  overflow-y: auto;
  height: 90%;
}
.aside__container .aside__ciphered .ciphered__text::-webkit-scrollbar {
  width: 0.5rem;
}
.aside__container .aside__ciphered .button {
  width: 100%;
}
.aside__container .aside__no-message {
  text-align: center;
}
.aside__container .aside__no-message .aside__img {
  margin-bottom: 2rem;
}
.aside__container .aside__no-message .aside__title {
  margin-bottom: 1rem;
}

.footer__container {
  align-items: center;
  height: 4em;
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: center;
  width: 100%;
}
.footer__container .container {
  font-size: 0.5rem;
  text-align: center;
}
.footer__container .container .footer__title {
  margin-bottom: 0.25rem;
}
.footer__container .container .footer__title a {
  color: var(--white-color);
  text-decoration: none;
}

@media screen and (max-width: 1023px) {
  .header {
    justify-content: center;
    align-content: center;
    height: 5rem;
  }
  .main__container {
    position: static;
    top: 0;
    left: 0;
    margin-right: 10rem;
    max-width: calc(100vw - 2em);
    width: 100%;
  }
  .main__container .form {
    height: 65vh;
  }
  .aside__container {
    margin-top: 4rem;
    margin-bottom: 2.5rem;
    max-width: calc(100vw - 2em);
    position: static;
    width: 100%;
  }
  .aside__container.container {
    margin-right: 1em;
  }
  .aside__container .aside__ciphered {
    display: block;
    max-width: 100%;
    text-align: center;
  }
  .aside__container .aside__no-message .aside__img {
    display: none;
  }
  .footer__container {
    height: 3em;
    position: static;
    width: 100%;
  }
  .footer__container .container {
    font-size: 0.75rem;
  }
}
@media screen and (max-width: 767px) {
  .header {
    justify-content: center;
    align-content: center;
    height: 5rem;
  }
  .form {
    height: 55vh;
  }
  .form .form__actions .button {
    width: 100%;
  }
  .form .form__actions .button:nth-child(2) {
    margin-bottom: 1rem;
  }
}

/*# sourceMappingURL=main.css.map */
