@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,300;0,400;1,100&family=Klee+One:wght@400;600&display=swap"); /* Media queries aliases and breakpoints */
:root {
  --primary-color: #f3f5fc;
  --secondary-color: #0A3871;
  --background-color: #000000;
  --text-color: #495057;
  --text-color-bold: #343a40;
  --white-color: #fff;
  --font-family-Barlow: "Barlow", sans-serif;
  --font-family-Klee: "Klee One", cursive;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: var(--font-family-Barlow);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  color: var(--text-color-bold);
}

img {
  max-width: 100%;
}

.container {
  margin-right: 1rem;
  margin-left: 1rem;
}

.invisible {
  display: none;
}

.button {
  border: 1px solid var(--secondary-color);
  border-radius: 0.35rem;
  padding: 1rem 1.5rem;
  width: 48.5%;
  font-size: 1.2rem;
  cursor: pointer;
  transition: all 0.6s ease-in-out;
}
.button:focus {
  outline: none;
}

.button__primary {
  background-color: var(--secondary-color);
  color: var(--white-color);
}
.button__primary:hover {
  background-color: var(--primary-color);
  color: var(--background-color);
}

.button__secondary {
  background-color: var(--background-color);
  color: var(--primary-color);
}
.button__secondary:hover {
  background-color: var(--primary-color);
  color: var(--background-color);
}

.header {
  color: var(--primary-color);
  display: flex;
  height: 4rem;
  width: 100%;
}
.header .header__container {
  align-items: center;
  display: flex;
}
.header .header__container .header__img {
  margin-right: 0.125rem;
}

.main__container {
  position: absolute;
  top: 4em;
  left: 6em;
  width: 60%;
}
.main__container .form {
  height: calc(100vh - 8em);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}
.main__container .form .form__input {
  background-color: var(--background-color);
  border: none;
  border-radius: 0.25rem;
  color: var(--primary-color);
  display: block;
  font-size: 1.2rem;
  max-width: 100%;
  resize: none;
  font-family: var(--font-family-Klee);
  padding: 0.5rem 1rem;
  width: 100%;
  height: 12rem;
}
.main__container .form .form__input::placeholder {
  color: var(--white-color);
  opacity: 0.5;
}
.main__container .form .form__input:focus {
  outline: none;
}
.main__container .form .form__input:focus-visible {
  outline: 2px solid var(--white-color);
}
.main__container .form .form__input:hover {
  outline: 2px solid var(--white-color);
}
.main__container .form .form__warning {
  display: block;
  margin-bottom: 0.5rem;
  width: 100%;
}
.main__container .form .form__warning::before {
  content: url(../../images/warning.svg);
  margin-right: 0.25rem;
  vertical-align: middle;
}
.main__container .form .form__actions {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

@media screen and (min-width: 1023px) {
  .main__container {
    position: static;
    top: 0;
    left: 0;
    margin-right: 10rem;
    max-width: calc(100vw - 2em);
    width: 100%;
  }
  .main__container .form {
    height: 65vh;
  }
}
@media (max-width: 767px) {
  .form {
    height: 55vh;
  }
  .form .form__actions .button {
    width: 100%;
  }
  .form .form__actions .button:nth-child(2) {
    margin-bottom: 1rem;
  }
}
.aside__container {
  background-color: var(--white-color);
  border-radius: 2rem;
  padding: 2rem;
  position: absolute;
  top: 2rem;
  right: 2rem;
  bottom: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25%;
}

/*# sourceMappingURL=main.css.map */
