.aside__container {
  background-color: var(--white-color);
  border-radius: 2rem;
  padding: 2rem;
  position: absolute;
  top: 2rem;
  right: 2rem;
  bottom: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25%;

  .container {
    margin-right: 0;
  }

  .aside__ciphered {
    height: 100%;
    width: 100%;

    .ciphered__text {
      margin-bottom: 1rem;
      font-size: 14pt;
      overflow-y: auto;
      height: 90%;

      &::-webkit-scrollbar {
        width: 0.5rem;
      }
    }

    .button {
      width: 100%;
    }
  }

  .aside__no-message {
    text-align: center;

    .aside__img {
      margin-bottom: 2rem;
    }

    .aside__title {
      margin-bottom: 1rem;
    }
  }
}