.aside__container {
  background-color: var(--white-color);
  border-radius: 2rem;
  padding: 2rem;
  position: absolute;
  top: 2rem;
  right: 2rem;
  bottom: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25%;

  &.container {
    margin-right: 0;
  }

  .aside__ciphered {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    width: 100%;

    .ciphered__text {
      font-size: 1.5rem;
      margin-bottom: 1rem;
    }

    .button {
      width: 100%;
    }
  }

  .aside__no-message {
    text-align: center;

    .aside__img {
      margin-bottom: 2rem;
    }

    .aside__title {
      margin-bottom: 1rem;
    }
  }
}